* {
	font-family: url(../fonts/Building_Typeface.ttf);
}
a,
a:visited,
a:active,
a:focus {
	text-decoration: none;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
	color: #fff;
}
/* Main - Header
======================================*/
body {
	background-color: #E6E6E6;
}
.main-header {
	background-color: #424242;
	height: 72px;
	position: fixed;
	top:0;
	z-index: 1;
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
.btn-default {
	color: #fff;
	background-color: #424242;
	border:#424242;
}
.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus {
	color: #D6D6D6;
	background-color: #424242;
	border-color: #424242;
}

.logo p {
	font-family: url(../fonts/Building_Typeface.ttf);
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 4px;
}
.logo p a {
	color:#FAFAFA;
	display: block;
	height: 100%;
}
.logo p span {
	margin-right: 2px;
	font-size: 1.1em;
	color: rgba(209,0,0,1);
}
.main-header a {
	text-decoration: none;
	color:white;
}

.nav-section {
	height: 72px;
}
.nav-section:hover {
	background-color: rgba(194,0,0,0.8);
	font-weight: 300;
}
.main-header > .nav-section {
	background-color: #424242;
}

.main-header div button {
	margin-top: 15px;
}
.nav-section {
	text-align: center;
}
.nav-menu li {
	list-style-type: none;
}
.nav-menu a {
	color: #fff;
	display: block;
	height: 100%;
	padding-top: 23px;

}
.nav-menu a:hover {
	color: #FFF;
}
.nav-menu {
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: 1px;
	margin-bottom: 0;
}
.nav-search {
	margin: auto;
	padding-top: 11px;
}
/* Body section 
===================================*/
#body {
	margin-top: 100px;
	background-color: #fff;
}
#body h1 {
	padding-left: 3%;
	padding-right: 3%;
	text-align: justify;
	font-size: 3em;
}
.main-picture p {
	text-align: right;
	padding-right: 15px;
	color: #424242;
	font-size: 0.7em;
}
.tags {
	margin-top: 12px;
}

.tags a {
  margin-right: 10px;
  padding: 4px;
  font-size: 1em;
  color: #EDEDED;
  background-color: #BABABA;
  border-radius: 3px;
  float: right;
}
/* Article 
===================================*/

.article-author,
.article-text,
.author-name {
	margin-top: 40px;
}
.author-photo {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	padding: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.author-name,
.author-description {
	text-align: center;
}
.author-name {
	font-weight: bold;
}
.author-description {
	color:#BDBDBD;
	font-style: italic;
}
.article-text {
	float: right;

}
.article-text p:first-child {
	font-style: italic;
	color:#BDBDBD;
}
.article-text p {
	text-align: justify;
	text-indent: 5%;
	font-size: 1.2em;
	line-height: 2.2em;
}

/* MORE TOPICS */
#adds {
	padding: 0;
}
.prev-next-button {
	display: block;
	height: 142px;
	border-top: 2px solid rgba(194,0,0,0.8);
	border-bottom: 2px solid rgba(194,0,0,0.8);
	margin-top: 40px;
	margin-bottom: 40px;
}
.prev-button,
.next-button {
	height: 120px;
	margin-top: 9px;
	margin-bottom: 11px;
	background-color: #e6e6e6;
}
.prev-button {
	border-right: 2px solid rgba(194,0,0,0.8);
}
.prev-button:hover,
.next-button:hover {
	background-color: rgba(194,0,0,0.1);
}
.prev-button a,
.next-button a {
	display: block;
	text-decoration: none;
	height: 100%;
	color:#000;
}
.prev-button-nav,
.next-button-nav {
	margin-top: 45px;
}
.next-button-nav img {
	float: right;
}
.prev-button-img,
.next-button-img {
	overflow: hidden;
	height: 120px;
}
.prev-button-img img,
.next-button-img img {
	max-height: 100%;
}
.prev-button-text,
.next-button-text {
	height: 100px;
	margin-top: 20px;
	text-align: right;
	font-weight: bold;
}
.next-button-text {
	text-align: left;
}
/* Footer
===================================*/
footer {
	margin-top: 50px;
	background-color: #424242;
	bottom: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
footer h4 {
	color: #fff;
	margin-top: 25px;
}
footer span {
	color: #CF0000;
	padding-right: 2px;
}
footer ul {
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 0px;
}
footer li {
	list-style-type: none;
	letter-spacing: 1px;
	font-weight: 100;
	height: 30px;
	padding-top: 5px;
	padding-left: 17px;
}
footer li:hover {
	background-color: rgba(194,0,0,0.8);
}
footer a,
footer a:hover{
	text-decoration: none;
	width: 100%;
	display: block;
}
.copyright {
	border-top: 4px solid rgba(194,0,0,0.8);
	background-color: #424242;
	height: 45px;
}
.copyright h5 {
	margin-top: 10px;
	color: #fff;
	font-weight: 100;
}
.copyright a,
.copyright a:hover,
.copyright a:focus {
	width: 100px;
	float: right;
}



/* Media queries
===================================*/
@media(min-width: 1500px){
	.main-header,
	footer {
		width: 80%;
		margin-left: 10%;
	}
}
@media(max-width:3000px){
	#button{
		width:75px;
	}
}
@media(max-width:991px){
	#body h1 {
		font-size: 2em;
		text-align: left;
	}
	.article-text {
		padding-left: 0;
		padding-right: 0;
	}
	.article-text p {
		text-align: justify;
		text-indent: 5%;
		font-size: 1em;
		line-height: 1.6em;
	}
	.article-text h3 {
		font-size: 1.1em;
		margin-top: 10px;
	}
	#adds {
		display: none;
	}
	.nav-section {
		height: 60px;
	}
	.logo a {
		padding-top: 4px;
	}
	.nav-section a,
	.logo a {
		/* display: none; */
		font-size: 0.7em;
	}
	.main-header {
		height: 60px;
	}
	#button{
		transform:scale(0.7,0.7);
		margin-top: 0;
	}
	#button button {
		margin-top: 10px;
	}
	.nav-search {
		transform:scale(0.8,0.8);
		height: 60px;
		padding-top: 7px;
		margin-left: 15px;
	}
	.prev-button-img,
	.next-button-img {
		display: none;
	}
}
@media(max-width:768px){
	.nav-menu {
		display: none;
	}

}

@media(max-width:600px){
	.prev-button-text,
	.next-button-text {
		display: none;
	}
	.next-button-nav {
		float: right;
	}
}