* {
  font-family: url(../fonts/Building_Typeface.ttf); }

a,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: #fff; }

/* Main - Header
======================================*/
body {
  background-color: #E6E6E6; }

.main-header {
  background-color: #424242;
  height: 72px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

.btn-default {
  color: #fff;
  background-color: #424242;
  border: #424242; }

.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus {
  color: #D6D6D6;
  background-color: #424242;
  border-color: #424242; }

.logo p {
  font-family: url(../fonts/Building_Typeface.ttf);
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 4px; }

.logo p a {
  color: #FAFAFA;
  display: block;
  height: 100%; }

.logo p span {
  margin-right: 2px;
  font-size: 1.1em;
  color: #d10000; }

.main-header a {
  text-decoration: none;
  color: white; }

.nav-section {
  height: 72px; }

.nav-section:hover {
  background-color: rgba(194, 0, 0, 0.8);
  font-weight: 300; }

.main-header > .nav-section {
  background-color: #424242; }

.main-header div button {
  margin-top: 15px; }

.nav-section {
  text-align: center; }

.nav-menu li {
  list-style-type: none; }

.nav-menu a {
  color: #fff;
  display: block;
  height: 100%;
  padding-top: 23px; }

.nav-menu a:hover {
  color: #FFF; }

.nav-menu {
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 0; }

.nav-search {
  margin: auto;
  padding-top: 11px; }

/* Body section 
===================================*/
#body {
  margin-top: 100px;
  background-color: #fff; }

#col-1 {
  margin-top: 30px;
  padding-bottom: 10px;
  padding-right: 0; }

#col-1-container {
  border-bottom: 1px solid #E6E6E6;
  height: 520px; }

#col-1-pic {
  margin-top: 10px;
  height: 460px;
  position: relative;
  padding: 0;
  background: linear-gradient(0deg, #000, transparent 60%), #000 url("https://assets.entrepreneur.com/content/16x9/822/20160310213849-strong-business-woman-executive.jpeg") no-repeat center; }

#col-1-pic p:first-child {
  height: 32px;
  width: 150px;
  display: block;
  padding-top: 6px;
  padding-left: 60px;
  left: 0;
  bottom: 200px;
  background-color: rgba(194, 0, 0, 0.9);
  color: #fff;
  border-radius: 0 5px 5px 0;
  top: 50%;
  position: absolute; }

#col-1-pic h1 {
  color: #fff;
  font-size: 1.9em;
  letter-spacing: 1px;
  font-weight: 600;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0; }

#col-1-pic div {
  top: 60%;
  position: absolute; }

.author {
  width: 60%;
  margin-left: 10%;
  margin-top: 20px;
  color: #fff;
  font-size: 0.7em;
  font-weight: 300;
  display: inline-block; }

.post-time {
  width: 20%;
  display: inline-block;
  color: #fff;
  font-size: 0.7em;
  font-weight: 300; }

#col-1-text {
  padding-right: 0; }

#col-1-text h1,
#latest h1 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #808080; }

#col-1-text a,
#col-1-text a:hover,
#col-1-text a:visited,
#col-1-text a:active,
#col-1-text a:focus {
  color: #424242; }

#col-1-text p {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid #E6E6E6; }

#col-1-text p:last-child {
  border-bottom: none; }

#col-2 {
  margin-top: 40px;
  padding-left: 40px; }

/* Latest News block 
===================================*/
.latest-news {
  margin-top: 20px;
  border-bottom: 1px solid #E6E6E6; }

.latest-news-img_section {
  overflow: hidden; }

.latest-news-img_section img {
  margin-top: 13px;
  height: 174px;
  width: auto; }

.latest-news-content_section-tags,
.top20-content_section-tags,
.lifehack-content_section-tags {
  margin-top: 12px; }

.latest-news-content_section-tags a,
.top20-content_section-tags a,
.lifehack-content_section-tags a {
  margin-right: 5px;
  padding: 4px;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 1px;
  background-color: #BABABA;
  border-radius: 3px; }

.latest-news-content_section-head a,
.top20-content_section-head a,
.lifehack-content_section-head a {
  color: #424242; }

.latest-news-content_section-text {
  color: #BABABA; }

.latest-news-content_section-text-author,
.latest-news-content_section-text-author a,
.latest-news-content_section-text-post_time,
.top20-content_section-text-author,
.top20-content_section-text-author a,
.top20-content_section-text-post_time,
.top20-container-col_2-author,
.top20-container-col_2-author a,
.lifehack-content_section-text-author,
.lifehack-content_section-text-author a,
.lifehack-content_section-text-post_time,
.lifehack-container-col_2-author,
.lifehack-container-col_2-author a {
  color: #424242;
  margin-right: 10px;
  margin-left: 0; }

/* Top20 section
====================================*/
.top20,
.lifehack {
  background-color: #fff; }

.top20-container,
.lifehack-container {
  margin-top: 40px;
  height: inherit;
  border-top: 10px solid #E6E6E6; }

.top20-container-col_1-img,
.lifehack-container-col_1-img {
  height: 380px;
  overflow: hidden; }

.top20-container h1,
.lifehack-container h1 {
  color: #424242; }

.top20-container-col2-content,
.lifehack-container-col2-content {
  height: 320px; }

.top20-container-col_2-img,
.lifehack-container-col_2-img {
  height: 180px;
  overflow: hidden; }

.top20-container-col_2-author,
.lifehack-container-col_2-author {
  width: 100%; }

/* Footer
===================================*/
footer {
  margin-top: 50px;
  background-color: #424242;
  bottom: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

footer h4 {
  color: #fff;
  margin-top: 25px; }

footer span {
  color: #CF0000;
  padding-right: 2px; }

footer ul {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 0px; }

footer li {
  list-style-type: none;
  letter-spacing: 1px;
  font-weight: 100;
  height: 30px;
  padding-top: 5px;
  padding-left: 17px; }

footer li:hover {
  background-color: rgba(194, 0, 0, 0.8); }

footer a,
footer a:hover {
  text-decoration: none;
  width: 100%;
  display: block; }

.copyright {
  border-top: 4px solid rgba(194, 0, 0, 0.8);
  background-color: #424242;
  height: 45px; }

.copyright h5 {
  margin-top: 10px;
  color: #fff;
  font-weight: 100; }

.copyright a,
.copyright a:hover,
.copyright a:focus {
  width: 100px;
  float: right; }

/* Media queries
===================================*/
@media (min-width: 1500px) {
  .main-header,
  footer {
    width: 80%;
    margin-left: 10%; } }
@media (max-width: 3000px) {
  #button {
    width: 75px; } }
@media (max-width: 991px) {
  #col-2 {
    display: none; }

  .nav-section {
    height: 60px; }

  .logo a {
    padding-top: 4px; }

  .nav-section a,
  .logo a {
    /* display: none; */
    font-size: 0.7em; }

  .main-header {
    height: 60px; }

  #button {
    transform: scale(0.7, 0.7);
    margin-top: 0; }

  #button button {
    margin-top: 10px; }

  .nav-search {
    transform: scale(0.8, 0.8);
    height: 60px;
    padding-top: 7px;
    margin-left: 15px; }

  .top20-container-col_1,
  .top20-container-col2-content,
  .lifehack-container-col_1,
  .lifehack-container-col2-content {
    margin-bottom: 20px; }

  .top20-container-col_1-img,
  .lifehack-container-col_1-img {
    height: 370px;
    width: 500px;
    overflow: hidden;
    margin: auto; }

  .lifehack-content_section-text-post_time,
  .top20-content_section-text-post_time {
    display: none; } }
@media (max-width: 768px) {
  .nav-menu {
    display: none; }

  #col-1-pic {
    height: 350px; }

  #col-1-pic p:first-child {
    top: 5%; }

  #col-1-pic div {
    top: 50%; }

  #col-1-container {
    border-bottom: none; }

  #col-1-text p:last-child {
    padding-bottom: 30px;
    border-bottom: 10px solid #E6E6E6; }

  .top20-container-col_1-img,
  .lifehack-container-col_1-img {
    height: 200px;
    width: 300px;
    overflow: hidden;
    margin: auto; }

  .copyright {
    height: 60px; }

  .copyright h5 a {
    display: none; } }

/*# sourceMappingURL=style.css.map */
