* {
	font-family: url(../fonts/Building_Typeface.ttf);
}
a,
a:visited,
a:active,
a:focus {
	text-decoration: none;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
	color: #fff;
}
/* Main - Header
======================================*/
body {
	background-color: #E6E6E6;
}
.main-header {
	background-color: #424242;
	height: 72px;
	position: fixed;
	top:0;
	z-index: 1;
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
.btn-default {
	color: #fff;
	background-color: #424242;
	border:#424242;
}
.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus {
	color: #D6D6D6;
	background-color: #424242;
	border-color: #424242;
}

.logo p {
	font-family: url(../fonts/Building_Typeface.ttf);
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 4px;
}
.logo p a {
	color:#FAFAFA;
	display: block;
}
.logo p span {
	margin-right: 2px;
	font-size: 1.1em;
	color: rgba(209,0,0,1);
}
.main-header a {
	text-decoration: none;
	color:white;
}

.nav-section {
	height: 72px;
}
.nav-section:hover {
	background-color: rgba(194,0,0,0.8);
	font-weight: 300;
}
.main-header > .nav-section {
	background-color: #424242;
}

.main-header div button {
	margin-top: 15px;
}
.nav-section {
	text-align: center;
}
.nav-menu li {
	padding-top: 23px;
	list-style-type: none;
}
.nav-menu li a {
	display: block;
}
.nav-menu a {
	color: #fff;
}
.nav-menu a:hover {
	color: #FFF;
}
.nav-menu {
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: 1px;
}
.nav-search {
	margin: auto;
	padding-top: 11px;
}
/* Body section 
===================================*/
#body {
	margin-top: 100px;
	background-color: #fff;
}
#col-1 {
	margin-top: 30px;
	padding-bottom:  10px;
	padding-right: 0;
}
#col-1-container {
	border-bottom: 1px solid #E6E6E6;
	height: 500px;
}
#col-1-pic {
	margin-top: 10px;
	padding: 0;
	background: linear-gradient(0deg, #000, transparent 60%),
                #000 url('https://assets.entrepreneur.com/content/16x9/822/20160310213849-strong-business-woman-executive.jpeg') no-repeat center;
}
#col-1-pic p:first-child {
	height: 32px;
	width: 150px;
	margin-top: 252px;
	padding-top: 6px;
	padding-left: 60px;
	margin-left: 0;
	bottom: 200px;
	background-color: rgba(194,0,0,0.9);
	color: #fff;
	border-radius: 0 5px 5px 0;
}
#col-1-pic p:nth-child(2) {
	color: #fff;
	font-size: 1.9em;
	letter-spacing: 1px;
	font-weight: 600;
	height: 120px;
	width: 350px;
	margin-left: 10%;
	margin-bottom: 0;
}
#col-1-pic p:nth-child(2) a {

}
.author {
	width:30%;
	margin-left: 10%;
	color: #fff;
	font-size: 0.7em;
	font-weight: 300;
	display: inline-block;
}

.post-time {
	width:20%;
	display: inline-block;
	color: #fff;
	font-size: 0.7em;
	font-weight: 300;
}
#col-1-text {
	padding-right: 0;
}
#col-1-text h1,
#latest h1 {
	font-size: 16px;
	margin-bottom: 5px;
	color:#808080;
}
#col-1-text a,
#col-1-text a:hover,
#col-1-text a:visited,
#col-1-text a:active,
#col-1-text a:focus {
	color: #424242;
}
#col-1-text p {
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	font-size: 1.2em;
	border-bottom: 1px solid #E6E6E6;
}
#col-1-text p:last-child {
	border-bottom: none;
}
#col-2 {
	margin-top: 40px;
	padding-left: 40px;
}

/* Latest News block 
===================================*/

.latest-news {

	height: 220px;
	margin-top: 20px;
	border-bottom: 1px solid #E6E6E6;
}
.latest-news-img_section {
	margin-top: 13px;
	height: 174px;
	background: url('https://assets.entrepreneur.com/content/3x2/274/20150220213125-credit.jpeg') center;
}
.latest-news-content_section-tags,
.top20-content_section-tags,
.lifehack-content_section-tags {
	margin-top: 12px;
}
.latest-news-content_section-tags a,
.top20-content_section-tags a,
.lifehack-content_section-tags a {
	margin-right: 5px;
	padding: 4px;
	font-size: 0.8em;
	font-weight: 100;
	letter-spacing: 1px;
	background-color: #BABABA;
	border-radius: 3px;
}
.latest-news-content_section-head a,
.top20-content_section-head a,
.lifehack-content_section-head a {
	color: #424242;
}
.latest-news-content_section-text {
	color: #BABABA;
}
.latest-news-content_section-text-author,
.latest-news-content_section-text-author a,
.latest-news-content_section-text-post_time,
.top20-content_section-text-author,
.top20-content_section-text-author a,
.top20-content_section-text-post-time,
.top20-container-col_2-author,
.top20-container-col_2-author a,
.lifehack-content_section-text-author,
.lifehack-content_section-text-author a,
.lifehack-content_section-text-post-time,
.lifehack-container-col_2-author,
.lifehack-container-col_2-author a {
	color:#424242;
	margin-right: 10px;
	margin-left: 0;
}
/* Top20 section
====================================*/
.top20,
.lifehack {

	background-color: #fff;
}
.top20-container,
.lifehack-container{
	margin-top: 40px;
	height: inherit;
	border-top: 10px solid #E6E6E6;
}
.top20-container-col_1-img,
.lifehack-container-col_1-img {
	height: 380px;
	overflow: hidden;
}
.top20-container h1,
.lifehack-container h1 {
	color:#424242;
}
.top20-container-col2-content,
.lifehack-container-col2-content {
	height: 320px;
}
.top20-container-col_2-img,
.lifehack-container-col_2-img {
	height: 180px;
	overflow: hidden;
}
.top20-container-col_2-author,
.lifehack-container-col_2-author {
	width:100%;
}
.top20-container-col_2-img {
	background: linear-gradient(0deg, #000, transparent 30%),
	#000 url('https://assets.entrepreneur.com/content/3x2/274/20151204141101-dollar-money-business-concept-cash-economy-bond-price-economic-trade-bill.jpeg');
}
.top20-container-col_1-img {
	background: linear-gradient(0deg, #000, transparent 30%),
	#000 url('https://assets.entrepreneur.com/content/3x2/566/20150819160637-money-in-hand-success-bills.jpeg');	
}
.lifehack-container-col_2-img {
	background: linear-gradient(0deg, #000, transparent 30%),
	#000 url('https://assets.entrepreneur.com/content/3x2/274/20151228164708-amazon-product-reviews-tablet-shopping-online-computer-spending.jpeg');
}
.lifehack-container-col_1-img {
    background: linear-gradient(0deg, #000, transparent 30%),
	#000 url('https://assets.entrepreneur.com/content/3x2/566/20151111142033-runner-falling-fell-failure-ground-woman-pain-competition.jpeg');	
}
/* Footer
===================================*/

/* Media queries
===================================*/
@media(min-width: 1500px){
	.main-header,
	footer {
		width: 80%;
		margin-left: 10%;
	}
}
@media(max-width:3000px){
	#button{
		width:75px;
	}
}
@media(max-width:991px){
	.nav-menu {
		display: none;
	}
}
@media(max-width:345px){
	.nav-search {
		display: none;
	}
}
