.flex-container {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 290px;
  height: 400px;
  margin: auto;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.inside-box {
  background: pink;
  padding: 10px;
  width: 200px;
  height: 250px;
  margin-top: 10px;
  margin-left: 45px;
  margin-right: 45px;
  line-height: 2em;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.inside-text {
	
	width: 250px;
	height: 120px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.inside-text p {
	color: #808080;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	line-height: 1.2em;
	width: inherit;
	font-weight: 300;
  	font-size: 1em;
  	text-align: center;
}
.inside-text p:first-child {
	width: 230px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	font-weight: 600;
	line-height: 1.5;
	border-bottom: 1px solid #808080;
}